// ==========================================================================
// Global Config
// ==========================================================================

$font-url--google        	: 'http://fonts.googleapis.com/css?family=Cutive+Mono|Oswald';
$font-family--primary			: 'Oswald', 'Futura', 'Helvetica', sans-serif;
$ff-primary: $font-family--primary;

$font-family--secondary		: 'Cutive Mono', 'Courier', serif;
$ff-secondary: $font-family--secondary;

// Font Weights

$font-weight--medium     : 400;
$font-weight--bold       : 700;
$fw-medium: $font-weight--medium;
$fw-bold: $font-weight--bold;



// Descriptive Base Colors

$white    : #fff;
$black    : #000000;
$grey     : #404040;

$grey-primary						: #363636;
//$c-primary: $color--primary;

//$color--primary--dark			: darken($color--primary, 10%);
//$c-primary-dark: $color--primary--dark;

$color--secondary					: #3a9fe1;
$c-secondary: $color--secondary;

$text-color: #404040;

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Border radius

$br--default    : .4em;
$br--round      : 50%;

// Transitions

$trns-duration  : .4s;

// Path to Assets

$path--rel      : "../img";