.twitter-feed {
	padding: 2rem 0;
	width: (1218 / $maxWidth) * 100%;
	max-width: 1218px;
	margin: 0 auto;
}
.twitter-feed li {
	border-top: $border;
	padding: 30px 35px;
	&:last-of-type {
		border-bottom: $border;
	}
	a {
		color: $white;
	}
}
.twitter-feed li > div {
	font-family: $ff-secondary;
	letter-spacing: -0.04em;
}
.date {
	font-size: em(30px);
	line-height: em(36px);
	margin-bottom: 25px;
}
.tweet {
	font-size: em(18px);
	line-height: em(28px);
}
@include respond-to('medium') {
	.date {
		display: inline-block;
		width: (260 / $maxWidth) * 100%;
	}
	.tweet {
		display: inline-block;
		width: (1210 / $maxWidth) * 100%;
	}
}